.button {
    max-width: fit-content;
    padding: 16px;
    background-color: var(--button-color);
    color: white;
    cursor: pointer;
    border: none;
}

.button:hover {
    background-color: #1A8BCB;
    transition: 0.1s ease-in;
}