.landing {
    position: relative;
    z-index: -1;
    background-color: beige;
    height: 90vh;
    width: 100%;
}

.landing video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.landingText {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40%;
    max-width: 700px;
    gap: 30px;
    justify-content: space-between;
    left: 48px;
    text-align: left;
    color: white;
}

.landing::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4); /* Exempel */
    z-index: 0;
  }
  

.landingText h1 {
    font-size: 3rem;
}

.landingText h2{
    font-size: 1.5rem;
}

.landingText p {
    font-size: 1.2rem;
}
