.sidebar {
    display: flex;
    scroll-padding-top: 10px;
    flex-direction: column;
    max-width: 20%;
    width: 100%;
    padding: 16px;
    height: 100%;
    height: 200px;
    overflow-y: auto;
}

.sidebar button {
    background-color: var(--button-color);
    color: white;
    border: none;
    cursor: pointer;
    padding: 16px;
}

.sidebar button:hover {
    background-color: #1A8BCB;
    transition: 0.1s ease-in;
}