@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  min-height: 100vh;
  font-family: "Open Sans";
  --gap: 16px;
  --margin-distance: 150px;
  --button-color: #ff9a02;
  --button-hover: #fdb952;
  --link-color: #312929;
  --link-hover: #f8990b;
  --phone-padding: 24px;
  --phone-margin-top: 64px;
}

.bodyHeight {
  min-height: 70vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: #2e2e2e;
  color: white;
}

.vertical {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.horizontal {
  display: flex;
  gap: var(--gap);
}

.fade-enter {
  opacity: 0;
}

.fade-exit {
  opacity: 1;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms ease-out;
}

@media screen and (max-width: 900px) {
  .horizontal {
      flex-direction: column-reverse;
  }

  p {
    font-size: 0.8rem;
  }

  h2 {
    font-size: 1.3rem;
  }
}

