@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  min-height: 100vh;
  font-family: "Open Sans";
  --gap: 16px;
  --margin-distance: 150px;
  --button-color: #0077B5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: #2e2e2e;
  color: white;
}

.vertical {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.horizontal {
  display: flex;
  gap: var(--gap);
}
