.wrap {
    display: flex;
    max-height: 500px;
    margin-top: var(--margin-distance);
    gap: var(--gap);
}

.infoBox {
 display: flex;
 flex-direction: column;
 background-color: white;
 color: black;
 border-radius: 10px;
 padding: 20px;
 transition: 0.1s ease-in;
 justify-content: space-between;
}

.infoBox img {
    border-radius: 10px;
    width: 400px;
    height: auto;
}

.infoBox p {
    font-size: 0.8em;
}

.buttonWrap {
    display: flex;
    justify-content: space-between;
}

.welcome {
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
}